h1{
    
    color: red;
   
    /* background-color: aqua; */
    width: fit-content;
    margin: auto;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px  solid black;
    text-align: center;
    
}
th{
    border: 1px solid  black;
    color: blueviolet;
}
#empid{
    font-weight:bolder;
    font-size: 1.5rem;
}

9972300123